.idea
/Day 1 - Trebuchet (C)/.idea/
/Day 1 - Trebuchet (C)/cmake-build-debug/
/Day 1 - Trebuchet (C)/CMakeLists.txt
/Day 1 - Trebuchet (C)/trebuchet
/Day 1 - Trebuchet (C)/input.txt
/ownerproof.txt
/Day 2 - Cube Conundrum (Kotlin)/out/
